<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
    >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

<!--    <queries>-->
<!--        <package android:name="com.innersloth.spacemafia" />-->
<!--        <package android:name="com.carxtech.carxdr" />-->
<!--        <package android:name="com.hitrock.hideonline" />-->
<!--        <package android:name="com.ludia.tmnt" />-->
<!--        <package android:name="com.sevenpirates.infinitywar" />-->
<!--        <package android:name="com.stgl.global" />-->
<!--        <package android:name="zombie.survival.craft.z" />-->
<!--        <package android:name="com.ChillyRoom.DungeonShooter" />-->
<!--        <package android:name="com.lilithgame.hgame.gp" />-->
<!--        <package android:name="com.thxgames.triviador" />-->
<!--        <package android:name="com.chess" />-->
<!--        <package android:name="com.mobile.legends" />-->
<!--        <package android:name="net.wargaming.wot.blitz" />-->
<!--        <package android:name="com.tankionline.mobile.production" />-->
<!--        <package android:name="com.activision.callofduty.shooter" />-->
<!--        <package android:name="com.supercell.brawlstars" />-->
<!--        <package android:name="com.tencent.ig" />-->
<!--        <package android:name="com.supercell.clashofclans" />-->
<!--        <package android:name="com.ea.gp.fifamobile" />-->
<!--        <package android:name="com.roblox.client" />-->
<!--        <package android:name="com.supercell.clashroyale" />-->
<!--        <package android:name="com.axlebolt.standoff2" />-->
<!--        <package android:name="com.rstgames.durak" />-->
<!--        <package android:name="com.miHoYo.GenshinImpact" />-->
<!--        <package android:name="com.blizzard.wtcg.hearthstone" />-->
<!--        <package android:name="com.robtopx.geometryjumplite" />-->
<!--        <package android:name="com.FDGEntertainment.redball4.gp" />-->
<!--        <package android:name="com.mediocre.smashhit" />-->
<!--    </queries>-->

    <application
        android:name=".StockApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheBestProjectEver"
        android:usesCleartextTraffic="true">

        <receiver
            android:name=".services.MyReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <service-->
<!--            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"-->
<!--            android:enabled="true" />-->


        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":neomobile_websocket"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.TheBestProjectEver" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="ledokolit.page.link"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>

</manifest>